# ----------------------------------------
# 1. SECRETS ET DONNÉES SENSIBLES
# ----------------------------------------

# Fichier d'environnement
.env

# Clés de certificat
*.key
*.pem

# ----------------------------------------
# 2. DONNÉES PERSISTANTES (Volumes)
# ----------------------------------------

/volumes/
/data/

# ----------------------------------------
# 3. FICHIERS TEMPORAIRES ET CACHE DE PRESTASHOP
# ----------------------------------------

# Cache de compilation Smarty, logs, et fichiers générés par l'application
/var/cache/*
!/var/cache/.gitkeep 
/var/logs/*
!/var/logs/.gitkeep
/var/sessions/
/var/upload/
/img/tmp/
/sitemap.xml
/robots.txt

# Dossier d'installation/administration 
/install/

# ----------------------------------------
# 4. FICHIERS SYSTÈME ET LOGICIELS DIVERS
# ----------------------------------------

# Fichiers de configuration de Podman 
.podman-history
.podman-conf

# Fichiers d'historique et de cache des outils courants
.DS_Store # macOS
Thumbs.db # Windows
ehthumbs.db # Windows
desktop.ini # Windows

# Fichiers d'éditeur/IDE 
.vscode/
*.swp
*~
