version: '3.8' # Indique la version de la spécification Compose utilisée

services:
  # ----------------------------------------------------
  # SERVICE 1: Base de Données (MariaDB)
  # ----------------------------------------------------
  db:
    image: docker.io/library/mariadb:10.6
    container_name: lahar-db
    restart: always
    environment:
      # Les valeurs sont chargées depuis le fichier .env
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - prestashop-net



# ----------------------------------------------------
# SERVICE 2: Application PrestaShop
# ----------------------------------------------------
  prestashop:
    image: docker.io/prestashop/prestashop:latest 
    container_name: lahar-app # Nom du conteneur
    depends_on: # Assure que la base de données est démarrée avant l'application
      - db
    restart: always # Politique de redémarrage
    ports: # Exposition des ports
      - "8080:80" # Mappe le port 80 du conteneur au port 8080 de votre machine hôte
    environment: # Variables d'environnement pour configurer PrestaShop
      DB_SERVER: db
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    networks:
      - prestashop-net

volumes: # Définition des volumes nommés
  db-data:

networks: # Définition des réseaux
  prestashop-net:
    driver: bridge # Le type de réseau standard