/* ==========================================================================
   FOOTER 
   ========================================================================== */
   .site-footer {
    background-color: var(--section);
    border-top: 2px solid var(--placeholder);
    padding: 1.5% 0;
    width: 100%;
}

.footer-content {
    width: 94%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
}

/* LIGNE DES RÉSEAUX SOCIAUX */
.footer-socials {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1%;
}

/* TEXTE "SUIVEZ-MOI" */
.follow {
    text-transform: uppercase;
    color: white !important;
    font-family: var(--font-title) !important;
    font-weight: 700;
    margin-right: 1% !important; 
    white-space: nowrap;
}

/* LES ICONES */
.footer-socials a.social-link {
    display: inline-flex;
    margin: 0 1% !important; 
    text-decoration: none;
    transition: transform 0.3s ease;
}

.footer-socials i {
    color: white;
    transition: color 0.3s ease;
}

/* --- EFFETS AU SURVOL (HOVER) --- */
.footer-socials a.social-link:hover i,
.mentions-legales a:hover {
    color: var(--secondary-title) !important;
}

.footer-socials a.social-link:hover {
    transform: scale(1.2);
}

/* TEXTES INFÉRIEURS */
.footer-content span, 
.footer-content a {
    font-family: var(--font-title) !important;
    font-size: 80%;
    color: var(--descriptive-text);
    text-decoration: none;
}

.mentions-legales a {
    font-weight: 700;
}